@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Muli";
  src: url("../src/assets/fonts/Muli-regular.woff2") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../src/assets/fonts/Muli-italic.woff2") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("../src/assets/fonts/FuturaPT-Medium.woff2") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Futura";
  src: url("../src/assets/fonts/FuturaPT-Demi.woff2") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Futura";
  src: url("../src/assets/fonts/FuturaPT-Heavy.woff2") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "MrsSaintDelafield";
  src: url("../src/assets/fonts/MrsSaintDelafield-Regular.ttf")
    format("truetype");
}

@layer base {
  body {
    @apply overflow-x-hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-futura;
  }
  p {
    @apply text-[15px] font-muli leading-7;
  }
  a {
    @apply text-[16px];
  }
}
@layer components {
  .page-container {
    @apply flex min-h-[100vh] relative mt-20 md:mt-24 xl:mt-0;
  }
  .reponsive-container {
    @apply px-4 mx-auto w-full flex items-center 2xl:max-w-[1400px];
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
